.button{
  border: none;
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &.primary-button{
    background-color: rgb(201, 9, 9);
    color: whitesmoke;
  }

  &:active{
    transform: scale(0.9);
  }
} 